PORT=3001
ENABLED_CORS=

GMAIL_HOST=smtp.gmail.com
GMAIL_PORT=587
GMAIL_USER='your_email_here@gmail.com' - tutorial 1 gmail account
GMAIL_PASS='the_app_password' - tutorial 1 gmail account
GMAIL_TO_EMAIL_LIST='list_where_emails_will_go'
GMAIL_FROM_EMAIL='email_title'

SITE_COMPANY_NAME='your_company_name'